
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <script type="text/javascript">alert("{{message}}")</script>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<br><br>
<div class="container-fluid">
    <footer class="row mx-auto tm-footer">
      <div class="col-md-6 px-0">
        Copyright 2023 College Chatbot  Company Limited. All rights reserved.
      </div>
      <div class="col-md-6 px-0 tm-footer-right">
        Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank" class="tm-link-white">CollegeChatBot</a>
      </div>
    </footer>
  </div>
</div>
<!-- Preloader, https://ihatetomatoes.net/create-custom-preloading-screen/ -->
<!--   <div id="loader-wrapper">            
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>   -->
<script src="/static/js/jquery-3.5.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/slick.js"></script>
<script src="/static/js/templatemo-script.js"></script>
</body>
</html>