{% include 'student_header.html' %}
<center>
	<h1>View Activities</h1>
	<form method="post">
		<table class="table" style="width:500px;color:white;">
			<tr>
				<th>Sl no</th>
				<th>Post</th>
				<th>Contact Number</th>
                <th>Email</th>
			</tr>
			{% for row in data['view'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{row['post']}}</td>
				<td>{{row['contact']}}</td>
                <td>{{row['email']}}</td>
			</tr>
			{% endfor %}
		</table>
</center>

{% include 'footer.html' %}